/node_modules
/dist/fonts
/dist/icons*
/dist/images
/dist/404*
/dist/index*
/dist/sw.js
/dist/webpack-bundle.css.*
/dist/webpack-bundle.js*
/.vscode
/haters
.DS_Store
/fonts
README.md
LICENSE
/src/index.html.txt
/src/styles
/src/images
notes.txt