//! css frameworks
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../fonts/scss/fontawesome.scss";
@import "../fonts/scss/v4-shims.scss";
@import url('https://fonts.googleapis.com/css?family=Raleway');

$enable-gradients: true;
$enable-responsive-font-sizes: true;
$enable-shadows: true;

$primary:       #fd146d;
$secondary:     #facc00;
$success:       #a2e02e;
$info:          #e5ff00;
$warning:       #f5b402;
$danger:        #fd6914;
$light:         #f8f545;
$dark:          #400372;

$link-color: $dark;
$link-hover-color: darken($link-color, 15%);
$body-bg: #000000;

html,h1,h2,h3,h4,h5,h6,a{
 font-family: "Raleway";
}

.colors1:hover {
  background: linear-gradient(to right, #f79009, #ce096c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.colors2:hover {
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
h3:hover, p.lead:hover {
  background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(237,104,3,1) 100%) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.navbar{ background:rgba(249, 116, 0, 0);}
.nav-link , .navbar-brand{ color: #f97300; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f421; color: #f97300; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:rgba(255, 255, 255, 0) !important;}

.navbar-collapse{
 justify-content: flex-end;
}

.fas.fa-bars {
  color: #f97300;
}


    /*header style*/
.header{
    background-image: url('https://picsum.photos/1499/1006');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(244, 244, 244, 0.59);
}

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h1{
 color:#F97300 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}

.about{
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
.about h1{
 color:#F97300;
 margin: 2em;
}
.about img{
 height: 100%;
    width: 100%;
    border-radius: 50%
}
.about span{
 display: block;
 color: #888;
 position: absolute;
 left: 115px;
}
.about .desc{
 padding: 2em;
 border-left:4px solid #10828C;
}
.about .desc h3{
 color: #10828C;
}
.about .desc p{
 line-height:2;
 color:#888;
}

/*Portfolio*/
.portfolio{
 margin: 4em 0;
    position: relative; 
}
.portfolio h1{
 color:#F97300;
 margin: 2em; 
}
.portfolio img{
  height: 15rem;
  width: 100%;
  margin: 1em;
}

.blog{
 margin: 4em 0;
 position: relative; 
}
.blog h1{
 color:#F97300;
 margin: 2em; 
}
.blog .card{
 box-shadow: 0 0 20px #ccc;
}
.blog .card img{
 width: 100%;
 height: 12em;
}
.blog .card-title{
 color:#F97300;
  
}
.blog .card-body{
 padding: 1em;
}

.team{
 margin: 4em 0;
 position: relative;  
}
.team h1{
 color:#F97300;
 margin: 2em; 
}
.team .item{
 position: relative;
}
.team .des{
 background: #F97300;
 color: #fff;
 text-align: center;
 border-bottom-left-radius: 93%;
 transition:.3s ease-in-out;
}

.team .item:hover .des{
 height: 100%;
 background:#f973007d;
 position: absolute;
 width: 89%;
 padding: 5em;
 top: 0;
 border-bottom-left-radius: 0;
}

.contact-form{
 margin: 6em 0;
 position: relative;  
}
.contact-form h1{
 padding:2em 1px;
 color: #F97300; 
}
.contact-form .right{
 max-width: 600px;
}
.contact-form .right .btn-secondary{
 background:  #F97300;
 color: #fff;
 border:0;
}
.contact-form .right .form-control::placeholder{
 color: #888;
 font-size: 16px;
}

@import "../node_modules/bootstrap/scss/bootstrap";

@keyframes gradient { 
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}


@mixin button-reset {
  padding: 10;
  border: none;
  font: inherit;
  text-transform: uppercase;
  background: linear-gradient(to right, #CB3066, #16BFFD);
  color: #fff;
  background-size: 300% 300%;
  cursor: pointer;
}

@mixin button-hover {
  background: linear-gradient(to right, rgb(253, 187, 6), rgb(253, 22, 149));
  animation: gradient 2.5s ease infinite;
  color: rgb(0, 0, 0);
  background-size: 300% 300%;
  cursor: pointer;
  transform: translateY(1px);
  filter: saturate(150%);
}

@mixin button-active {
  background: linear-gradient(to right, rgb(253, 187, 6), rgb(253, 22, 149));
  color: rgb(0, 0, 0);
  background-size: 300% 300%;
  cursor: pointer;
  transform: translateY(1px);
  filter: saturate(150%);
}

@mixin button-size {
  border-radius: 1rem;
}

.btn {
 @include button-reset;
  @include button-size;
}

.btn:hover, .btn:focus {
 @include button-hover;
  @include button-size;
}

.btn:active {
 @include button-active;
  @include button-size;
}


.social{
    text-align:center;
    width:60px;
    height:60px;
    float:left;
    background:rgb(255,255,255);
    border:0px solid rgb(204,204,204);
    box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius:100px;
    margin:0 10px 10px 0;
    padding:15px;
}

.dragon{
    text-align:center;
    width:120px;
    height:120px;
    float:left;
    background:rgb(0, 0, 0);
    border:0px solid rgb(204,204,204);
    box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius:100px;
    margin:0 10px 10px 0;
    padding:19px;
}

.google-pluse:hover{background:#DD4B39;color:#FFF;}
.facebook:hover{background:#3b5998;color:#FFF;}
.twitter:hover{background:#00acee;color:#FFF;}
.pinterest:hover{background:#c8232c;color:#FFF;}
.linkedin:hover{background:#0e76a8;color:#FFF;}
.skype:hover{background:#00aff0;color:#FFF;}
.youtube:hover{background:#c4302b;color:#FFF;}
.tumblr:hover{background:#34526f;color:#FFF;}
.dragon:hover{color: rgb(0, 0, 0); background-image: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(237,104,3,1) 100%);}


